<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bimbel Muda</title>
</head>
<body>
    <h1>Wtf dude. Fuck u, <%= name %>.</h1>
</body>
</html>