<form method="POST">
  <input name="title" placeholder="Post Title" required /><br />
  <textarea name="content" placeholder="Content" rows="10" cols="50"></textarea><br />
  <button type="submit">Submit</button>
</form>
