<main>
  <div id="resume" class="container">
    <h2>About Me</h2>
    <section id="work-experiences">
      <h4>work-experiences</h4>
      <div style="display: grid;
                  grid-template: auto auto / 0.8fr 1fr;
                  gap: 10px;
                  padding: 0.7rem;
                  background-color: rgba(250, 255, 253, 0.438);
                  border-radius: 10px;"
      >
        <div>
          <p><strong>Badan Pengelola Keuangan dan Aset</strong><br>Data and Information Engineer<br><br>01/2025 - Current</p>
        </div>

        <div>
          <ul>
            <li>Manage the utilization of information technology within the organization.</li>
            <li>Manage public information and data through official websites or online portals.</li>
            <li>Execute and report additional tasks as assigned by supervisors in accordance with organizational functions.</li>
          </ul>
        </div>

        <div>
          <p><strong>Badan Pengelola Keuangan dan Aset</strong><br>Asset Management<br><br>01/2021 - 12/2024</p>
        </div>

        <div>
          <ul>
            <li>Worked together with the team to manage assets in the company such as fixed asset and inventory.</li>
            <li>Worked individually to prepare all of the necessary reports monthly, such as inventory purchase, inventory usage, etc.</li>
            <li>Assisted other team with working and processing data and preparing it until it's ready to be used.</li>
          </ul>
        </div>

        <div>
          <p><strong>Freelance Online Course</strong><br>Tutor<br><br>01/2020 - 01/2024</p>
        </div>

        <div>
          <ul>
            <li>Started an online course during COVID-19 due to high demand from accounting students in Indonesia.</li>
            <li>Lessons that I provide such as Financial Accounting, Intermediate Accounting, Microeconomics, and Macroeconomics.</li>
          </ul>

        </div>
      </div>
    </section>

    <section id="skill">
      <h4>skill</h4>
      <div style="display: grid;
                  grid-template: auto / 1fr 1fr;
                  gap: 10px;
                  padding: 0.7rem;
                  background-color: rgba(250, 255, 253, 0.438);
                  border-radius: 10px;"
      >
        <div>
          <ul>
            <li>Accounting</li>
            <li>Python</li>
            <li>Financing</li>
            <li>Budgeting</li>
          </ul>
        </div>

        <div>
          <ul>
            <li>Microsoft Excel</li>
            <li>Matplotlib</li>
            <li>Pandas</li>
            <li>Numpy</li>
          </ul>
        </div>
      </div>
    </section>

    <section id="certification">
      <h4>certification</h4>
      <div style="display: grid;
                  grid-template: auto / 1fr 1fr;
                  gap: 10px;
                  padding: 0.7rem;
                  background-color: rgba(250, 255, 253, 0.438);
                  border-radius: 10px;"
      >
        <div>
          <p>09/2023</p>
        </div>

        <div>
          <p><strong>Brevet Pajak C: Tax Course</strong><br>Universitas Gadjah Mada</p>
        </div>

        <div>
          <p>07/2023</p>
        </div>

        <div>
          <p><strong>Brevet Pajak AB: Tax Course</strong><br>Universitas Gadjah Mada</p>
        </div>

        <div>
          <p>03/2023</p>
        </div>

        <div>
          <p><strong>Learn SQL Course</strong><br>Codecademy</p>
        </div>

        <div>
          <p>02/2023</p>
        </div>

        <div>
          <p><strong>Learn Python Course</strong><br>Codecademy</p>
        </div>
      </div>
    </section>
  </div>
</main>