<main>
  <div class="container">
    <div class="item">
      <h2>welcome.</h2>
      <p>
        hi! I'm mooda, an <strong>accountant with 4-years of experience</strong> in budgeting, asset management, taxation, and other finance-related job.<br>highly motivated to learn and continuosly upskill, particularly in the field of Python programming with a strong focus on <strong>Data Science and Machine Learning</strong>.
      </p>
    </div>  
  </div>
</main>