<form method="POST">
  <div>
    <label for="title">Title</label>
    <input id="title" class="form-control" name="title" placeholder="Post Title" required /><br />
  </div>

  <div>
    <label for="content">Content</label>
    <textarea id="content" class="form-control" name="content" placeholder="Content" rows="10" required></textarea><br />
  </div>

  <div>
    <label for="slug">slug</label>
    <input id="slug" class="form-control" name="slug" placeholder="slug">
  </div>

  <button type="submit">Submit</button>
</form>
